{{#with data}}
    <div class="header-top">
        <div class="top-logo">{{brandName}}</div>
        <div class="top-links">
            {{#each links}}
                <a class="a link-a" href="{{url}}">{{text}}</a>
            {{/each}}
        </div>
    </div>
    <div class="header-bot">
        <div class="bot-ad">
            <div class="bot-logo">Ad</div>
            <div class="bot-text">{{ad.text}}: {{ad.url}}</div>
        </div>
        <div class="bot-online">Users online: {{userOnline}}</div>
    </div>
{{/with}}